body {
  background-color: black;
}
.background-container {
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  text-shadow: 2px 2px #ff3300;
  background-image: url("../img/villain-pub2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 25px;
}
.background-container img {
  opacity: 0.7;
}
.header {
  color: white;
  font-family: 'Barrio', cursive;
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px #ff3300;
  background-image: url("../img/eyes-background.gif");
  height: 150px;
}
.header img {
  float: left;
}
  .villain-submit {
  margin-top: 10px;
  background-color: #ff3300;
  margin-top: 35px;
  text-shadow: 2px 2px #ff3300;
}
select{
  background-color: #ff3300;
  text-shadow: 2px 2px black;
  -webkit-appearance: none;
}
#stage-two {
  color: white;
  text-align: center;
}
#stage-two #heading {
  color: white;
  font-family: 'Barrio', cursive;
  font-size: 45px;
  text-align: center;
  text-shadow: 2px 2px #ff3300;
}
#stage-two li{
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  text-shadow: 2px 2px #ff3300;
  list-style-type: none;
}
#stage-two img {
  border-radius: 25px;
}
#meet-foe {
  display: none;
  background-color: #ff3300;
}
#stage-three {
  display: none;
}
#stage-three .line {
  border-width: medium;
}
#stage-three img {
  height: 500px;
  width: 500px;

}
#stage-three #vs {
  height: 190px;
  width: 190px;
  align-items: center;
  margin-top: 50px;
}
#stage-three #fight{
  background-color: black;
  width: 50%;
  display: block;
  margin: auto;
}
#stage-five img {
  height: 100px;
  width:100px;
}

#pick-opponent{
  display: none;
}
#pick-again{
  display: none;
}
