body {
  background-color: black;
}

.background-container {
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  text-shadow: 2px 2px black;
  /*background-color: black;*/
  /*-webkit-mask-image:-webkit-gradient(linear, right bottom, left top, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)))*/

}
.background-container img {
  border-color: #004080;
  border-style: outset;
  border: 20px;


}

.header {
  color: white;
  font-family: 'Barrio', cursive;
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px #ff3300;
}

.villain-submit {
  margin-top: 10px;
  background-color: #ff3300;
  opacity: 0.7;
  margin-top: 35px;
  text-shadow: 2px 2px #ff3300;
}

select{
  background-color: #ff3300;
  text-shadow: 2px 2px black;
  opacity: 0.7;
  -webkit-appearance: none;
}

option convert{
  background-color: #ff3300;
  text-shadow: 2px 2px black;
  opacity: 0.7;
  -webkit-appearance: none;
}
.eyes1{
/*position: fixed;
top: 80%*/
margin-top 25px;
}

.eyes2{
  transform: rotate(45deg);
  margin: 25px;
}
.eyes3{
  transform: rotate(315deg);
  margin-top: 25px;
  margin-left: 20px;
}
#stage-three {
  display: none;
}
/*.castle{
  float: left;
  transform: scaleX(-1);
  background: linear-gradient(to bottom right, black 25%, #ff3300 75%);*/


}
